app = "tkb-portal-k69"
primary_region = "sin"

[build]
  dockerfile = "Dockerfile"

[env]
  NODE_ENV = "production"
  PORT = "3000"
  DATABASE_URL = "file:/data/dev.db"
  CATALOG_CSV_PATH = "/data/catalog/Catalog.csv"
  TROY_RESOURCES_DIR = "/data/resources"

[[mounts]]
  source = "tkb_data"
  destination = "/data"

[http_service]
  internal_port = 3000
  force_https = true

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024
